/*Lightbox Styles Begin*/

.lightbox * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lightbox{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.lightbox.curtain {
  background-color: rgba(0, 0, 0, .9);
}

.lightbox__backdrop{
  display: flex;
  padding: 30px 30px 30px 30px;
  flex-flow: column;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(51,51,51,1);
  -moz-box-shadow: 0px 0px 18px 2px rgba(51,51,51,1);
  box-shadow: 0px 0px 18px 2px rgba(51,51,51,1);
}

.lightbox__top-row{
  justify-content: flex-end;
  display: flex;
  padding: 0 10px 15px 0;
}

.lightbox__middle-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox__bottom-row{
}


.lightbox__image--subcontainer{
  position: relative;

}

.lightbox__image--styler{

}

.lightbox__image--move-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height:100%;
  z-index: 5;
}

.lightbox__image--move-right{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height:100%;
  z-index: 5;
}

.lightbox__tooltip--left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
}

.lightbox__tooltip--right, .lightbox__tooltip--combined{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.lightbox__tooltip--right-container, .lightbox__tooltip--left-container, .lightbox__tooltip--combined-container{
  opacity: 0.5;
  border-radius: 15px;
  border-width: 1px;
  padding: 15px;
  max-height: 100%;
  overflow: auto;
  z-index: 10;
  color: #000;
  background-color: #fff;
  font-weight: bolder;
  box-shadow: rgba(255, 255, 255, 0.45) 0px 5px 15px 0px;
}

.lightbox__tooltip--left-container ul li, .lightbox__tooltip--right-container ul li, .lightbox__tooltip--combined-container ul li{
  list-style-type: none;
}

.lightbox__loading-indicator, .lightbox__fullscreen-loading-indicator{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox__fullscreen-loading-indicator {
  top: 50%;
}

.lightbox__fullscreen{
  position: fixed;
  top: 50vh;
  left: 50vw;
  height: 0vh;
  width: 0vw;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.lightbox__fullscreen.active{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  opacity: 1;
  background-color: #000;
}

.lightbox__fullscreen--image-container{
  position: relative;
  width: 0px;
  height: 0px;
  z-index: 20;
  opacity: 0;
  background-color: rgba(0, 0, 0, .6);
  transition: all 0.5s ease-in-out;
}

.lightbox__fullscreen--image-container.active{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 20;
  opacity: 1;
  object-fit: contain;
}

.lightbox__fullscreen-image--move-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height:100%;
  z-index: 20;
}

.lightbox__fullscreen-image--move-right{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height:100%;
  z-index: 20;
}

.lightbox__fullscreen--top-row{
  display: flex;
  justify-content: flex-end;
}

.lightbox__fullscreen--close-button{
  padding: 1em;
  position: relative;
  z-index: 30;
  cursor: pointer;
}

.lightbox__backdrop{
  background-color: #fff;
}

/* Media Queries */
@media screen and (max-width: 800px){
  .lightbox__bottom-row--right ul li, .lightbox__bottom-row--left ul li{
  }

  .lightbox__bottom-row--right{
  }

  .lightbox__backdrop{
    padding: 15px;
  }

  .lightbox__tooltip--combined{
    width: 100%;
  }

  .lightbox__top-row{
    padding-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .lightbox__backdrop{
    padding: 5px;
  }
}

@media screen and (min-width: 800px) {
/*  Unused, but available. */

  .lightbox__bottom-row{
    display: flex;
    justify-content: space-between;
  }
}